<%- include('header_not_loggedin.ejs', { title: 'Confirm' }) %>

    <style>
        .container {
            max-width: 400px;
            margin-top: 100px;
        }

        .form-label {
            margin-bottom: 0.5rem;
        }

        .form-control {
            margin-bottom: 1rem;
        }

        /* Green theme */
        .btn-green {
            background-color: #4CAF50;
            color: white;
            border: solid transparent;
        }

        .btn-green:hover {
            border: solid #4CAF50;
        }

        .error-message {
            color: red;
        }
    </style>
    </head>

    <body>

        <div class="container">
            <h2 class="mb-4">Confirm Account</h2>
            <form action="/confirm" method="post">
                <input type="hidden" name="username" value="<%= email %>"> <!-- Hidden email field -->
                <div class="mb-3">
                    <label for="code" class="form-label">Verification Code:</label>
                    <input type="text" class="form-control" id="code" name="code" required>
                </div>
                <button type="submit" class="btn btn-green">Confirm</button>
            </form>
            <% if (typeof errorMessage !=='undefined' ) { %>
                <p class="error-message">
                    <%= errorMessage %>
                </p>
                <% } %>
        </div>
    </body>

    </html>