<%- include('header_not_loggedin.ejs', { title: 'Forgot Password' }) %>
<style>
    .container {
        max-width: 400px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-label {
        margin-bottom: 0.5rem;
    }

    .form-control {
        margin-bottom: 1rem;
    }

    .btn-green {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
    }

    .btn-green:hover {
        background-color: #45a049;
    }
</style>

<div class="container">
    <h2 class="mb-4">Forgot Password</h2>
    <form action="/forgot-password" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-green">Submit</button>
    </form>
</div>

<%- include('footer_not_loggedin.ejs') %>
