<%- include('header_not_loggedin.ejs', { title: 'Forgot Password' }) %>


<div class="forget-container">
     <!--Form-->
    <h2 class="mb-4">Forgot Password</h2>
    <form action="/forgot-password" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-green">Submit</button>
    </form>
</div>

<%- include('footer_not_loggedin.ejs') %>
