<%- include('header_not_loggedin.ejs', { title: 'Welcome' }) %>


  <div class="container text-center mt-5 pt-5">
    <div class="title-container">
      <h1>Welcome to <b style="color:#4CAF50">ribbit rates</b></h1>
      <p>Your go-to currency exchange platform</p>
    </div>

    <!--featurettes-->
    <div class="row g-4 row-cols-1 pt-3 row-cols-lg-3">
      <!--first feature-->
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-2">
          <img src="/images/1.png" style="height: 30%; width: 60%;">
        </div>
        <h3 class="fs-2 text-body-emphasis">View Current Exchange Rates</h3>
        <p>Explore live currency exchange rates with our app.
          Choose your currencies and view current rates on a graph.
          Convert currencies easily, simplifying international transactions and travel planning.
        </p>
      </div>

      <!--second feature-->
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-2">
          <img src="/images/2.png" style="height: 30%; width: 60%;">
        </div>
        <h3 class="fs-2 text-body-emphasis">Set Rate Alerts and Get Notified</h3>
        <p>Create multiple currency exchange rate alerts and receive notifications when your desired rates are met.
          Stay informed and make timely decisions with our efficient rate alert feature.</p>
      </div>

      <!--third feature-->
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-2">
          <img src="/images/3.png" style="height: 30%; width: 60%;">
        </div>
        <h3 class="fs-2 text-body-emphasis">Locate Nearby Currency Exchange Offices </h3>
        <p>Easily locate nearby currency exchange offices on a map with our app.
          Find the nearest options for exchanging currency, ensuring convenience and efficiency wherever you are.</p>
      </div>
    </div>

    <div class="mt-4">
      <a href="/login" class="btn btn-green me-2">Login</a>
      <a href="/verify" class="btn btn-green">Sign Up</a>
    </div>
  </div>

  <%- include('footer_not_loggedin.ejs') %>