<%- include('header_not_loggedin.ejs', { title: 'Login' }) %>

     
    <div class="login-container">
        <h2 class="mb-4">Login</h2>
             <!--display message-->
        <% if (message) { %>
            <div class="alert alert-success" role="alert">
                <%= message %>
            </div>
        <% } %>
        <!--login form-->
        <form action="/login" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Email:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-green">Login</button>
            <!--display error message-->
            <% if (typeof errorMessage !=='undefined' && errorMessage) { %>
                <div class="error-message">* <%= errorMessage %>
                </div>
                <% } %>
        </form>
        <!--link to forget password page-->
        <a href="/forgot-password">Forgot Password?</a>
    </div>

    <%- include('footer_not_loggedin.ejs') %>