<%- include('header.ejs', { title: 'Forex Locations' }) %>



<!--mapbox-->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    
    
    <div id="locationsData" style="display: none;"><%- locations %></div>

    <div class="container mt-5 pt-5">
        <div id="map" style="width: 100%; height: 600px;"></div>
       <script>
    mapboxgl.accessToken = '<%- mapboxAccessToken %>';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        zoom: 12
    });

    // Add navigation control (zoom in/out)
    map.addControl(new mapboxgl.NavigationControl());

      // convert locations to a json
    var locationsData = document.getElementById('locationsData').textContent;
    var forexLocations = JSON.parse(locationsData.replace(/\\/g, ''));
    console.log(forexLocations);


   
    map.on('load', function () {
        // Check if the geolocation API is available
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var userLat = position.coords.latitude;
                var userLng = position.coords.longitude;

                // Center the map at the user's location
                map.setCenter([userLng, userLat]);

                // Add a marker for the user's location
                new mapboxgl.Marker({ color: 'red' })
                    .setLngLat([userLng, userLat])
                    .addTo(map);

                // Add markers for forex locations within 10 kilometers
                forexLocations.forEach(function (location) {
                    var distance = calculateDistance(userLat, userLng, location.latitude, location.longitude);
                    var imageUrl = "/images/currency_store.jpg";
                    if (distance <= 10) {
                console.log('Adding marker for ' + location.name);
                 new mapboxgl.Marker()
                    .setLngLat([location.longitude, location.latitude])
                    .addTo(map)
                    .setPopup(new mapboxgl.Popup().setHTML(
                        '<div class="popup-content" style="text-align: center;">' +
                        '<img src="' + imageUrl + '" alt="Location Image" style="width: 150px; height: 150px; border-radius: 50%; margin-bottom: 10px;">' +
                        '<p class="location-name" style="font-weight: bold;">' + location.name + '</p>' +
                        '<p class="location-address" style="font-size: 12px;">' + location.address + '</p>' +
                        '</div>'
            ));
    }
                });

            }, function (error) {
                console.error('Geolocation error:', error);
            });
        } else {
            console.log('Geolocation is not supported by this browser.');
        }
    });


    // calculate distance to current location
    function calculateDistance(lat1, lon1, lat2, lon2) {
        var R = 6371;
        var dLat = (lat2 - lat1) * Math.PI / 180;
        var dLon = (lon2 - lon1) * Math.PI / 180;
        var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
            Math.sin(dLon / 2) * Math.sin(dLon / 2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        var d = R * c;
        return d;
    }
    
</script>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<%- include('footer.ejs') %> 