<%- include('header.ejs') %>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="form-container">
                    <h3 class="text-center">Profile Settings</h3>
                    <br />
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <span id="email"><%= email %></span> <!--retrieve email of currently logged in user-->
                    </div>

                    
                    <form>
                        <!--notification checkbox-->
                        <div class="form-group">
                            <label for="notification">Receive notifications</label>
                            <p>Get notified when a currency hits a target exchange rate</p>
                            <span><input type="checkbox" id="notification" name="notification"
                                    onchange="toggleAdditionalForms()">By email</span> <!--retrieve boolean-->
                        </div>

                        <!--currencies of interest-->

                        <div class="additional-forms" style="display:none">
                            <div class="form-group row">
                                <label for="target_rate">Currency of interest</label>
                                <span class="row">
                                    <select id="target_rate_from" name="target_rate_from" class="col-3" >
                                        <option value="USD">CAD</option>
                                        <option value="EUR">EUR</option>
                                        <option value="GBP">USD</option>
                                    </select>
                                    <p class="col-1">to</p>
                                    <select id="target_rate_to" name="target_rate_to" class="col-3" >
                                        <option value="USD">JPY</option>
                                        <option value="EUR">EUR</option>
                                        <option value="GBP">USD</option>
                                    </select>
                                </span>
                            </div>

                            <p id="currenciesList"></p>
                        </div>

                        <hr class="my-4"> 
                        <!--save button-->
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div> <!--container div-->

    <script src="javascript/profile.js"></script>

    <%- include('footer.ejs') %>