<%- include('header_not_loggedin.ejs', { title: 'Reset Password' }) %>

<div class="reset-container">
    <h2 class="mb-4 text-center">Reset Password</h2>
    <% if (typeof message !== 'undefined' && message) { %>
        <div class="alert alert-success" role="alert">
            <%= message %>
        </div>
    <% } %>
    <!--reset password form-->
    <form action="/reset-password" method="post">
        <input type="hidden" name="email" value="<%= email %>">
        <div class="mb-3">
            <label for="verificationCode" class="form-label">Verification Code:</label>
            <input type="text" class="form-control" id="verificationCode" name="verificationCode" required>
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password:</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
        </div>
        <button type="submit" class="btn btn-green">Submit</button>
    </form>
</div>
<%- include('footer_not_loggedin.ejs') %>
