<%- include('header_not_loggedin.ejs', { title: 'Verify' }) %>
    
    <body>
        <!--verification form-->
        <div class="verify-container">
            <h2 class="mb-4">Signup</h2>
            <form action="/verify-email" method="post">
                <div class="mb-3">
                    <label for="email" class="form-label">Enter your email address:</label>
                    <input type="text" class="form-control" name="email" required>
                </div>
                <button type="submit" class="btn btn-green">Confirm</button>
            </form>
            
            <!--display error message-->
            <% if (typeof errorMessage !=='undefined' ) { %>
                <p class="error-message">
                    <%= errorMessage %>
                </p>
                <% } %>
        </div>
 
<%- include('footer_not_loggedin.ejs') %>